<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>


<div class="row">
<div class="col s3 offset-s2">
    <img src="imagens/oi.jpg" alt="" class="circle responsive-img">
</div>
<br>
<div>
    <h2>Iago Soares</h2>
    <h6>Web desing e muito mas muito lindo!</h6>
</div>
<a class="waves-effect waves-light btn-floating social facebook">
  <i class="fa fa-facebook"></i> Sign in with facebook</a>

<a class="waves-effect waves-light btn-floating social github">
  <i class="fa fa-github"></i> Sign in with github</a>

<a class="waves-effect waves-light btn-floating social google">
  <i class="fa fa-google"></i> Sign in with Google</a>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">CONTATO</h5>
      <p class="grey-text text-lighten-4">Entre em contato para mais novidades.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">email@gmail.com</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">(47)99999-9999</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">@instagran</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2018 Copyright Iago Soares
  <a class="grey-text text-lighten-4 right" href="#!">Facebook/face</a>
  </div>
</div>
</footer>
